{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1 style="color:white; margin-left: 20px;">{% trans "Sign Up" %}</h1>
<h1 style="color:white; margin-left: 20px;">На данный момент работает только авторизация через соц. сети, просим Вас авторизоваться через соц. сети</h1>

<p style="color:white; margin-left: 20px;">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form style="color:white; margin-left: 20px;" class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
