<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>The Rag Blog by Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
	<h1><a href="#">Главная страница</a></h1>
	<h2><a href="#"><======= вы выбрали </a></h2>
</div>
<div id="content">
	<div id="archives" class="gbox">
		<h2 class="heading">архив</h2>
		<div class="content">
			<ul>
				<li><a href="#">Январь</a>(3)</li>
			</ul>
		</div>
	</div>
	<div id="posts">
		<div class="post">
			<h2 class="title">Название</h2>
			<h3 class="posted">Опубликовано - </h3>
			<h3 class="posted">Автор - </h3>
			<h3 class="posted">Теги - </h3>
			<div class="story">
				<p><strong>Краткое описание</strong><br>
				ghbdtn 'nj ntrcn cnfnmb</p>
			</div>
			<div class="meta">
				<p><a href="#" class="comment">читать пост - &raquo;</a></p>
			</div>
			<div class="meta">
				<p><a href="#" class="comment">комментарии количество - &raquo;</a></p>
			</div>
		</div>
		<div class="post">
			<h2 class="title">Название</h2>
			<h3 class="posted">Опубликовано - </h3>
			<h3 class="posted">Автор - </h3>
			<h3 class="posted">Теги - </h3>
			<div class="story">
				<p><strong>Краткое описание</strong><br>
				ghbdtn 'nj ntrcn cnfnmddddddddd dddddddddddddddddddddd ddddddddddddddddddddddddddddddd dddddddddddddddddddddb</p>
			</div>
			<div class="meta">
				<p><a href="#" class="comment">комментарии количество - &raquo;</a></p>
			</div>
		</div>

	</div>
	<div id="search" class="gbox">
		<h2 class="heading">Поиск</h2>
		<div class="content">
			<form method="get" action="#">
				<div>
					<input type="text" id="textfield1" name="textfield1" value="" size="18" />
					<input type="submit" id="submit1" name="submit1" value="Search" />
				</div>
			</form>
		</div>
	</div>
	<div id="pages" class="gbox">
		<h2 class="heading">Направления</h2>
		<div class="content">
			<ul>
				<li><a href="#">Мой блог</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
	</div>
	<div id="categories" class="gbox">
		<h2 class="heading">Категории</h2>
		<div class="content">
			<ul>
				<li><a href="#">1 категория</a></li>
				<li><a href="#">2 категория</a></li>
				<li><a href="#">3 категория</a></li>
				<li><a href="#">4 категория</a></li>
			</ul>
		</div>
	</div>
	<div id="blogroll" class="gbox">
		<h2 class="heading">В разработке</h2>
		<div class="content">
			<ul>
				<li><a href="#">в разработке</a></li>
			</ul>
		</div>
	</div>
	<div style="clear: both; height: 1px;"></div>
</div>
<div id="footer">
	<p>Разработано &copy; 2020 год</p>
</div>
</body>
</html>
