

{% extends 'base.html' %} <!-- наследуем базовый шаблон -->



{% block content %} <!-- помещаем в теги контент который рендерится -->
<!--    тут будет список статей-->
    <div class="content">
        <div class="container">

            <div class="row">
                {% for post in page_obj %}
                    <div class="col-lx-3">
                        <div class="article_form">
                            <div class="article_main">
                                    <div class="title">{{post.title}}</div>
                                    <div class="description">{{post.mini_text}}</div>
                                    <div class="read">
<!--                                        <button type="submit" class="btn btn-warning" onclick='{{ post.get_absolute_url }}'>прочитать</button>-->
                                        <a href="{{ post.get_absolute_url }}"><i class="fab fa-readme"></i>прочитать</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="pagination">
                <div style="color:white; margin-left: 20px;" class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; первая страница</a>
                        <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
                    {% endif %}

                    <span style="color:white; margin-left: 20px;" class="current">
                        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Следующая страница</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">предыдущая страница &raquo;</a>
                    {% endif %}
                </span>
            </div>
{% endblock content %}