<!DOCTYPE html>
{% load staticfiles %}    <!-- эта хрень загружает в шаблон статичные файлы джанго-->
{% load blog_tags %}  <!-- эта хрень загружает template тэги-->
{% load mptt_tags %}  <!-- Mptt тэги -->
{% load menu_tags %}  <!-- в приложении меню подгружаем темлейт теги -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>lifehuman</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{% static "css/default.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
	<h1><a href="{% url 'home' %}">Главная страница</a></h1>
	<h2><a href="#"><======= вы выбрали </a></h2>
</div>

<div id="content">

	<div id="archives" class="gbox">
		<a href="#"><h2 class="heading">о нас</h2></a>
		<div class="content">
			<ul>
				<li><a href="#">логин</a></li>
				<li><a href="#">пароль</a></li>
			</ul>
		</div>
	</div>
	<div id="posts">

		<div class="post">
			{% if posts %}
				{% for post in posts %}
				<h2 class="title">{{post.title}}</h2>
				<h3 class="posted">Автор - {{post.author}}</h3>
				<div class="story">
					<p><strong>{{post.mini_text}}</strong></p>
				</div>
				<h3 class="posted">Опубликовано - {{post.published_date}}</h3>
				<h3 class="posted">Просмотров - {{ post.viewed }}</h3>
				<div class="meta">
					<p>Комментариев - {{ post.get_comment_count }}</p>
				</div>
				<div class="meta">
					<p><a href="{{ post.get_absolute_url }}">прочитать всю статью</a></p>
				</div>
				{% endfor %}
			{% else %}
				<div class="posts">статей нет</div>
			{% endif %}
		</div>

	</div>
	<div id="search" class="gbox">
		<a href="feedback/"><h2 class="heading">форма обратной связи</h2></a> <!-- ссылку сделать через питон тег -->
<!--		<div class="content">-->
<!--			<form method="get" action="#">-->
<!--				<div>-->
<!--					<input type="text" id="textfield1" name="textfield1" value="" size="18" />-->
<!--					<input type="submit" id="submit1" name="submit1" value="Search" />-->
<!--				</div>-->
<!--			</form>-->
<!--		</div>-->
	</div>
	<div id="pages" class="gbox">
		<h2 class="heading">Направления</h2>
		<div class="content">
			<ul>
				<li><a href="#">Мой блог</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
	</div>
	<div id="categories" class="gbox">
		<h2 class="heading">Категории</h2>
		<div class="content">
			<!-- Вывод данных через темплейт теги -->
			<ul>
				{% menu_item menu="Main" %}
			</ul>

			<ul>
				{% for_category_list as categories %} <!-- Этот template tag  -->
<!--				{% for category in categories %}-->
<!--    			<li><a href="{% url 'category' category.slug %}">{{category.name}}</a></li>-->
<!--    			{% endfor %}-->
			</ul>

<!--			<ul class="root">-->
<!--    			{% recursetree categories %}-->
<!--        			<li>-->
<!--            			{{ node.name }}-->
<!--            			{% if not node.is_leaf_node %}-->
<!--                			<ul class="children">-->
<!--                    			{{ children }}-->
<!--                			</ul>-->
<!--            			{% endif %}-->
<!--        			</li>-->
<!--    			{% endrecursetree %}-->
<!--			</ul>-->

		</div>
	</div>
<!--	<div id="blogroll" class="gbox">-->
<!--		<h2 class="heading">В разработке</h2>-->
<!--		<div class="content">-->
<!--			<ul>-->
<!--				<li><a href="{% url 'home' %}">главная страница</a></a></li>-->
<!--			</ul>-->
<!--		</div>-->
<!--	</div>-->
	<div style="clear: both; height: 1px;"></div>
</div>
<div id="footer">
	<p>Разработано &copy; 2020 год</p>
</div>
</body>
</html>

